			
	/* === ОСНОВНЫЕ СТИЛИ === */

body {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	background-color: #f1f1f1;
}

h1 {
	text-transform: uppercase;
	font-size: 32px;
	line-height: 37px;
	color: #3d3d3d;
}

h2 {
	text-transform: uppercase;
	color: #646464;
}

h3 {
	font-size: 
	text-transform: uppercase;
	color: #646464;	
}

img	{
	max-width: 100%;
}

ul {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	box-shadow: 0 0 10px #ccc;
	background-color: #fff;
	box-sizing: border-box;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

	/* === HEADER === */

.main-header {
	background: url(../img/header.png);     
}

.main-header .container {
	padding-top: 100px;
	position: relative;
	background: none;
	box-shadow: none;
}

.logo {
	position: absolute;
	top: 0;
}

.main-menu ul {
	border-top-right-radius: 12px;
    border-top-left-radius: 12px;
	font-size: 0;
	background-image: linear-gradient(to top, #f0f0f0, #f8f8f8, #ffffff);
	background-color: #fdfdfd;
	overflow: hidden;
}

.main-menu li {
    display: inline-block;
    font-weight: bold;
    color: #000;
    border-right: 1px #d4d2d2 solid;
}

.main-menu li:last-child {
	border-right: none;
}

.main-menu li:hover a {
  color: #fff;
  background-image: linear-gradient(to top, #363636, #3e3e3e, #444444);
  background-color: #434343;
  cursor: pointer;
}

.main-menu a {
	display: inline-block;
	color: #000;
	text-transform: uppercase;
	padding: 25px;
	font-size: 17px;
	text-decoration: none;
}

.main-menu a.active {
  background-image: linear-gradient(to top, #363636, #3e3e3e, #444444);
  background-color: #434343;
  color: #fff;

}

/*search*/
/*#search {
  float: right;
  width: 235px;
  height: 29px;
}

#search input {
  float: right;
  border: none;
}

#search .input {
  width: 159px;
  height: 28px;
  padding: 0 37px 1px 15px;
  background-color: #484848;
  color: #fff;
  font: 13px/28px Tahoma, Arial, sans-serif;
  outline: none;
  border-radius: 3px;
}

@-moz-document url-prefix() {
  #search .input {
    height: 27px;
    padding-bottom: 2px;
  }
}

#search .input:focus {
  background-color: #E8E8E8;
  background-position: 0 -29px;
  color: #333;
}*/
	

	/* === КОНТЕНТНАЯ ЧАСТЬ === */

main {
	float: left;
	padding-left: 35px;
	padding-top: 10px;
	width: 60%;
	box-sizing: border-box;
}

.article-annotation {
	position: relative;
	margin-top: 40px;
	margin-bottom: 20px;
}

.article-annotation:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	top: -20px;
	opacity: 0.5;
	background-image: url('../img/line.png'); 
	background-size: cover;
}

.post-meta {
	position: relative;
	text-transform: uppercase;
	color: #929292;
	font-weight: bold;
	padding-left: 20px;
	cursor: default;
}

.post-meta:before {
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	opacity: 0.5;
	left: 0;
	background-image: url('../img/calendar.png');
}

.article-annotation a {
	color: #646464;
	text-decoration: none;
}

.article-annotation a:hover {
	text-decoration: underline;
}

.article-photo {
	max-width: 420px;
	max-height: 220px;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 0 10px #ccc;
}

.article-photo:hover img {
	transform: scale(1.1);
	transition: 1s;
}

.article-description {
	display: block;
	position: relative;
	max-width: 420px;
	height: 100px;
	overflow: hidden;
}

.article-description:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 50px;
	left: 0;
	bottom: 0;
	background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
}

	/* === САЙДБАР === */

.sidebar {
	float: right;
	width: 30%;
	padding-top: 10px;
}


	/* === RESPONSIVE === */

@media all and (max-width: 640px) {
	.sidebar {
		display: none;
	}

	main {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
}